[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagit = "*"

[dev-packages]
black = "==20.8b1"
isort = "*"
invoke = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
fmt = "invoke fmt"
